* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
}

.meme-generator {
  height: 430px;
  object-fit: cover;
}

.meme-generator .generate-meme-btn {
  border: none;
  padding: 8px 20px;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  margin: 24px 0;
  font-size: 20px;
  background-color: white;
  color: red;
  cursor: pointer;
  transition: all 400ms ease;
}

.meme-generator .generate-meme-btn:hover {
  padding: 8px 36px;
  border-left: 6px solid #222;
  border-right: 6px solid #222;
  letter-spacing: 3px;
}

/* .meme-generator .meme-author {
  margin: 8px;
} */
